#al {
    left: 50vw;
    top: 10px;
    width: fit-content;
    min-width: 56px;

    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    padding: 10px;
}

#al::after {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(68,68,68) transparent;
}



#auto-submit-box {
    left: 40vw;
    top: 60px;
    width: fit-content;
    min-width: 50px;

    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    padding: 9px 10px 9px 10px;
}


#btn-cancel-auto-submit {
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    border: 0px solid;
    display: inline;
}

#auto-submit-box::after {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    /* border-color: transparent transparent aqua transparent; */
    border-color: transparent transparent rgb(68,68,68) transparent;
}

/* ====== Count task time ========== */
#task-time {
    top: 10px;
    width: fit-content;
    min-width: 67px;

    /* background-color: aqua; */
    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    padding: 10px;
}


#task-time::after {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    /* border-color: transparent transparent aqua transparent; */
    border-color: transparent transparent rgb(68,68,68) transparent;
}


/* ============= */
.task-avail-noti-click-sound-box {
    right: calc(50vw - 240px);
    top: 10px;
    width: 500px;
    min-width: 200px;
    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    padding: 9px 10px 0px 10px;

    display: flex;
    justify-content: center;

    flex-direction: column;
    text-align: start;
    max-width: 680px;
}


.task-avail-noti-click-sound-box>p {
    margin: 5px;
    display: inline;
    color: white;
    font-size: large;
    font-weight: 900;
}

.task-avail-noti-click-sound-box::after {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(68,68,68) transparent;
    align-self: center;
}


/* ============= Network error ======= */
.warning-network-error-box {
    right: calc(50vw - 150px);
    top: 10px;
    width: 300px;
    min-width: 200px;
    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    padding: 9px 10px 0px 10px;

    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 680px;
}


.warning-network-error-box>p {
    margin: 5px;
    display: inline;
    color: white;
    font-size: large;
    font-weight: 900;
}

.warning-network-error-box::after {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(68,68,68) transparent;
    align-self: center;
}

#btn-cancel-auto-close-tab-on-net-err {
    width: 100px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: 0px solid;
    display: inline;
    margin-bottom: 10px;
}

/* ================ */
.dismiss-task-avail-noti-box {
    left: 40vw;
    top: 10px;
    width: fit-content;
    min-width: 200px;

    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    padding: 9px 10px 0px 10px;

    display: flex;
    justify-content: center;
    text-align: center;
}


.dismiss-task-avail-noti-box::after{
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(68,68,68) transparent;
}






#btn-dismiss-task-avail-noti-box {
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: rgb(197, 197, 197);
    position: relative;
    border-radius: 20px;
    border: none;
    margin-top: 35px;
}

#btn-dismiss-task-avail-noti-box span {
    position: absolute;
    width: 80%;
    height: 3px;
    left: 10%;
    top: 45%;
    background-color: black;
}

#btn-dismiss-task-avail-noti-box .bfirst {
    transform: rotate(45deg);
}

#btn-dismiss-task-avail-noti-box .blast {
    transform: rotate(-45deg);
}


/* AUTO RELOAD BOX */
#auto-reload-box {
    left: 40vw;
    top: 10px;
    width: fit-content;
    min-width: 50px;
    max-height: 90px;

    background-color: rgb(68,68,68);
    position: fixed;
    border-radius: 10px;

    display: flexbox;
    text-align: center;

    padding: 9px 10px 9px 10px;
}



#btn-cancel-auto-reload {
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    border: 0px solid;
    display: inline;
}

#auto-reload-box::after {
    right: 100px;
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(68, 68, 68) transparent;
}